*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Changa";
}

a{
    display: block;
    text-decoration: none;
}


ul{
    list-style: none;
    padding: 0px;
}

i{
    cursor: pointer;
}


hr{
    margin: 0;
}
header{
    height: 175px;
    /* background-image: url("/includes/img/8.jpg"); */
    position: relative;
    /* background-color: #1173c0; */
    /* background: rgb(2,0,36); */
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
}
header::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}


.container{
    position: relative;
}


/* Social Media Start */


header .social-media{
    height: 40px;
}

header .social-media a{
    display: block;
    transition: all 0.5s ease;
}

header .social-media a.active{
    color: rgb(88, 88, 88) !important;
}

header .social-media a:hover{
    color: #ffbe00 !important;
    padding-right: 20px;
}


/* Social Media End  */


/*  Header Start */

header .container, header .header-content{
   height: 120px;
}

header .header-content .nav > li a {
    color: white;
    display: block;
    transition: all 0.5s ease-out;
}

header .header-content .nav > li a:hover {
    color: #ffbe00;
    
    display: block;
}


header .header-content .nav > li {
    position: relative;
}

header .header-content .nav > li::after,
header .header-content .nav > li::before
 {
    content: "";
    position: absolute;
    width: 60%;
    height: 2px;
    right: 21px;
    background: #ffbe00;
    transform: rotate(356deg);
    transition: all 0.3s ease;
    opacity: 0;
    
}

header .header-content .nav > li.active::after
{
    opacity: 1;
    top: -8px;
}
header .header-content .nav > li.active::before{
    opacity: 1;
    bottom: -8px;
}
header .header-content .nav > li.active > a{
    
    color: #ffbe00;
}

header .header-content .nav > li::after{
    top: -20px;
    
}


header .header-content .nav > li::before{
    bottom: -20px;
    
}

header .header-content .nav > li:hover:before{
    bottom: -8px;
    opacity: 1;
}
header .header-content .nav > li:hover:after{
    top: -8px;
    opacity: 1;

}



