*{
    z-index: 100;
}
body{
    font-family: "Changa" , sans-serif;
    overflow-x: hidden;
    
}

.login-background{
    background-image: url("/includes/img/bg-default.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 169px);
    position: relative;
}

h1,h2,h3,h4,h5,h6,span{
    margin: 0;
    padding: 0;
    user-select: none;
}

input{
    background: rgb(184, 184, 184) !important;
    
}

input:focus{
   box-shadow: 0 0 0 0 transparent !important;
   border:  1px solid gray !important;
}

.highlight{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    /* background-color: #000000d4; */
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); 
    opacity: 0.7;

}


.login-background .login-form{
    min-height: 500px;
    /* background: rgba(128, 128, 128, 0.582); */
    z-index: 1000;
    position: relative;
}

@media (min-width: 319px ) and (max-width:576px) {

input{
    width: 75% !important;
}


.login-form.w-75.mx-auto.d-flex.flex-column.justify-content-center.align-items-center{
    width: 100% !important;
}


}