header{
    /* background-image: url('../../img/vpattren.png'); */
    min-height: 90px;
    position: relative;
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(32, 157, 182) 100%); 

}

header h3.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media (min-width: 319px) and (max-width: 567px) {


    header h3.title{
       
        font-size: 17px;
        white-space: nowrap;
    }

    img#logo-header{
        width: 40px !important;
    }
    
    
}