*{
    z-index: 100;
    user-select: none;
    margin: 0px;
    padding: 0px;

}


label,h1,h2,h3,h4,h5,h6{
    margin: 0px !important;
    padding: 0px !important;
}

body{

    min-height: 100vh;
    font-family: "Changa" , sans-serif;
    overflow-x: hidden;
    background-image: url("../../img/bg-default.jpg");
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    
}


.accordion-button:not(.collapsed){
    background-color: black !important;
}

@media (min-width:760px) {
    body{
   

    background-size: cover;

}

td {
    white-space: nowrap;
}

}


@media (min-width: 319px) and (max-width: 992px) {

    .data-info{
        width: 100% !important;
    }

    .data-image{
        width: 100% !important;
    }

    input{
        min-width: 75% !important;
    }

    textarea{
        min-width: 75% !important;
    }

    input[type="file"]{
        min-width: 75% !important;
    }

    select{
        min-width: 75% !important;
    }

    button.add-player{
        min-width: 75% !important
    }
    
    #btn{
        min-width: 75% !important

    }

  

    /* Attentance Responsive */

    .player-img.w-50{
        
        width: 100% !important;
    }
    
    .one-player-data.w-50.d-flex.flex-column.justify-content-center.align-items-center.h-100.py-4{
        width: 100% !important;

    }


    
}


@media (max-width: 500px){
    
    /* Tables Responsive */

    .table thead {
        display: none;
    }

    .table , .table tbody, .table tbody tr, .table tbody td{
        display: block;
        width: 100%;
        
    }

    .table tbody tr {
        margin-bottom: 20px;
    }

    .table tbody td {
        text-align: center   !important;
        position: relative;
    }
    /* .table tbody td::after {
        content: attr(data-title);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 13px;    
        padding-right: 10px;
        color: yellow;
    } */


}


.form-control:focus{
    box-shadow:  0px 0px 0px 0px transparent;
    outline: 0px transparent;
}

.highlight{
    content: "";
    position: absolute;
    width: 100%;
    /* min-height: calc(100vh - 90px); */
    height: calc(100% - 90px);
    top: 90px;
    right: 0;
     background-color: rgba(0, 0, 0, 0.6);
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(41, 83, 92) 100%);  */

background: linear-gradient(203deg, rgba(133,24,24,1) 20%, rgba(9,9,121,1) 40%);
    opacity: 0.6;
    z-index: -1;
}